<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">Hiking around</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
        aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu">
        <input id="satellite-streets-v12" class="form-check-input" type="radio" name="rtoggle" value="satellite"
            checked="checked">
        <label for="satellite-streets-v12" class="form-check-label">Satellite streets</label>
        <input id="light-v11" class="form-check-input" type="radio" name="rtoggle" value="light">
        <label for="light-v11" class="form-check-label">Light</label>
        <input id="dark-v11" class="form-check-input" type="radio" name="rtoggle" value="dark">
        <label for="dark-v11" class="form-check-label">Dark</label>
        <input id="streets-v12" class="form-check-input" type="radio" name="rtoggle" value="streets">
        <label for="streets-v12" class="form-check-label">Streets</label>
        <input id="outdoors-v12" class="form-check-input" type="radio" name="rtoggle" value="outdoors">
        <label for="outdoors-v12" class="form-check-label">Outdoors</label>
    </div>
    <div class="navbar-nav" bis_skin_checked="1">
        <div class="nav-item text-nowrap" bis_skin_checked="1">
            <a class="nav-link px-3" href="#">User</a>
        </div>
    </div>
</nav>